 .u-section-1 {
  background-image: url("images/10222949-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  background-image: none;
  margin: 9px auto 39px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-form-group-8 {
  width: 100%;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-form-group-10 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}